.example-card {
    max-width: 350px;
  }
  
  .example-header-image {
    background-image: url('https://st3.depositphotos.com/1915171/12656/v/450/depositphotos_126563866-stock-illustration-plus-two-sign-add-two.jpg');
    background-size: cover;
  }

  img {
    max-height: 200px;
    width: auto;
    object-fit: scale-down;
  }

  .example-card {
    margin-top: 30px;
    max-width: 280px;
    border-radius: 30px;
    box-shadow: -1px 6px 65px -24px;
  }

  body{
    background-color: rgb(192, 229, 234);
  }

  .tale-card-txt {
    font-size: small;
  }

  .title-center {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
  }

  .read-btn {
    width: 20px!important;
    height: 20px;
  }