.example-card {
    max-width: 350px;
  }
  
  .example-header-image {
    background-image: url('https://st3.depositphotos.com/1915171/12656/v/450/depositphotos_126563866-stock-illustration-plus-two-sign-add-two.jpg');
    background-size: cover;
  }


  .example-card {
    max-width: 350px;
  }

  body{
    background-color: rgb(90, 57, 65);
  }