<body>
  <div class="text-center">
    <h3 class="p-3">Tüm Masallar</h3>
  </div>
  <div class="container-fluid d-flex justify-content-center align-items-center" >
    <div *ngFor="let item of tales; let i = index">
      <div *ngIf="item.age">
        <mat-card class="example-card w-100 h-100" matBadge="+{{item.age}}" matBadgePosition="before" matBadgeColor="accent" (click)="openDialog">
          <mat-card-header class="truncate">
            <mat-card-title class="mb-2">{{item.title}}</mat-card-title>
          </mat-card-header>
          <img 
            mat-card-image
            src={{item.thumbnail_url}}
            alt="Tale Thumbnail"
          />
          <mat-card-content class="d-flex">
            <p class="tale-card-txt mt-3 truncate">
              {{item.summary}}
            </p>
            <button mat-raised-button class="read-btn m-3" (click)="openTale(item)" >OKU</button>
          </mat-card-content>
        </mat-card>
      </div>
      <div *ngIf="!item.age">
        <mat-card class="example-card w-100 h-100">
          <mat-card-header class="truncate">
            <mat-card-title class="mb-2">{{item.title}}</mat-card-title>
          </mat-card-header>
          <img 
            mat-card-image
            src={{item.thumbnail_url}}
            alt="Tale Thumbnail"
          />
          <mat-card-content class="d-flex">
            <p class="tale-card-txt mt-3 truncate">
              {{item.summary}}
            </p>
            <button mat-raised-button class="read-btn m-3" (click)="openTale(item)" >OKU</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</body>
