.example-card {
    max-width: 350px;
  }
  
  .example-header-image {
    background-image: url('https://st3.depositphotos.com/1915171/12656/v/450/depositphotos_126563866-stock-illustration-plus-two-sign-add-two.jpg');
    background-size: cover;
  }

  img {
    max-height: 200px;
    width: auto;
    object-fit: scale-down;
  }

  .example-card {
    max-width: 280px;
    border-radius: 10px;
    margin-left: 13px;
  }


  .tale-card-txt {
    font-size: small;
  }

  .title-center {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
  }

  .read-btn {
    width: 20px!important;
    height: 20px;
  }

  .container-fluid {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
  }

  .home-header {
    background-color: rgb(255, 215, 39);
  }