@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"); 

* {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100vh;
  background: #83C3F7
}